
<div class="container">
    <div class="card">
        <h2>View students</h2>
        <div class="card-header bg-success text-white">
           <h3>Book Information</h3>
        </div>
        <div class="card-body">
            <p>Book id: {{fetchedBook.bookid}}</p>
            <p>Book Name: {{fetchedBook.booknm}}</p>
            <p>Book id: {{fetchedBook.price}}</p>
            <p>Book id: {{fetchedBook.category}}</p>
        </div>
        <div class="card-footer bg-success text-white">
            <button type="button"  (click)="back()">Back</button>
        </div>
    </div>
</div>

