<!-- <h1>Welcome to Root component</h1>
<h3>Hello</h3>
 
 <h2>Output from Counter Component</h2>

 <app-counter></app-counter>

 <app-changenumbers></app-changenumbers>

 <h3>Designation of Employee from root: {{emptitle}}</h3>

 <app-child [desig]="emptitle" (changename)="onchangeTitle()"></app-child>
-->
 <!--{{title}}
 <app-counter [Tit]="title" (changeNa
 me)="onchangeName()"></app-counter>
<app-student-list></app-student-list>
<app-student-list-http></app-student-list-http>
<app-student-add-http></app-student-add-http>
<app-child></app-child>-->
<app-header></app-header>

 
 
<router-outlet></router-outlet>
